<div class="container signup">
  <div class="left">
    <h2  class="header-secondary">Subscribe on Feedly</h2>
    <a href='https://feedly.com/i/subscription/feed/https://wasm.ash.ms/rss.xml'>
      <img src="//s3.feedly.com/img/follows/feedly-follow-rectangle-flat-big_2x.png" alt="follow" style="margin-top:14px;" width="131" height="56">
    </a>
  </div>
  <div class="right">
    <h2 class="header-secondary">Weekly in your inbox</h2>
    <form action="//kyd.us4.list-manage.com/subscribe/post?u=d105d8b8b9b62ea519e7e6f97&amp;id=ab6fc1658b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    	<label for="mce-EMAIL" class="accessible-hide">Email Address </label>
    	<input placeholder="your@email" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
      <div class="accessible-hide" aria-hidden="true"><input type="text" name="b_d105d8b8b9b62ea519e7e6f97_ab6fc1658b" tabindex="-1" value=""></div>
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
    </form>
  </div>

</div>
